Binaries/
DerivedDataCache/
Intermediate/
Saved/
ArchivedBuilds/
Build/
homeward-build/
Saved-Intermediate-Binaries/
.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea/
.DS_Store
